* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #1f313b, #784259);

}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #784259;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[ type="email"],
input[type="date"],
#comments,

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: linear-gradient(to left, #1f313b, #784259);
}

input[type="radio"] {
    margin-right: 50px;
   
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
